@use "../../styles-variables.scss" as *;

.home-container {
  padding: 20px 40px;
  min-height: 100vh;
  background-color: $main-background;
  overflow-y: hidden;

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    .white-link {
      color: $white;
      &:hover {
        color: $white-hover;
      }
    }
  }

  .scroll-container {
    height: 600px;
    overflow-y: scroll;
    padding: 24px;
  }
}
